<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <h3 class="align-center white">Shopping list sorter</h3>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card #maListe>

          <ion-item color="primary">
            <ion-icon item-left name="list"></ion-icon>
            <ion-label>
              Ma liste
            </ion-label>
            <button item-end ion-button clear color="light" (click)="start_shopping()">Lancer</button>
          </ion-item>


          <ion-list style="height:30vh;overflow-y: scroll">
            <ion-item *ngFor="let article of my_articles">
              <ion-icon item-left color="primary" name="cart"></ion-icon>
              <ion-label>
                {{article.nom}}
              </ion-label>
              <button (click)="remove_from_list(article)" clear ion-button item-end>
                <ion-icon color="primary" name="trash"></ion-icon>
              </button>
            </ion-item>
          </ion-list>

        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>

        <ion-card>
          <ion-searchbar
            [(ngModel)]="search"
            color="primary"
            (ionInput)="search_items($event)"
            placeholder="Nom article"
            (ionFocus)="make_my_list_disapear()"
            (ionBlur)="make_my_list_appear()"
            (ionClear)="resetSearch()"
          >
          </ion-searchbar>
          <ion-list style="height: 30vh;overflow-y:scroll" #searchResult>
            <ion-item *ngFor="let article of articles_filtered" (touchstart)="add_to_list(article)">
              <ion-icon color="primary" item-left name="cart"></ion-icon>
              <ion-label>
                {{article.nom}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

  </ion-list>
</ion-content>
