<ion-header>
  <ion-navbar color="primary">
    <ion-title>Shopping</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card class="margin-top">
    <ion-item color="primary">
      <ion-icon item-left color="light" name="cart"></ion-icon>
      <ion-label>{{current_article.nom}}</ion-label>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col class="text-align">
          <button *ngIf="index < shopping.get_articles().length - 1" (click)="set_next_article_alert()" ion-button icon-end
                  clear small>
            Suivant
          </button>
          <button *ngIf="index == shopping.get_articles().length - 1" (click)="finish_shopping()" ion-button icon-end
                  clear small>
            Terminer
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Nombre de pas : {{step_counter}}</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
